.registration .row {
    margin: 3px;
}

.registration {
    max-width: 390px;
    min-width: 200px;
    height: auto;
    border: 1px solid rgba(203, 225, 241, 1);
    padding: 10px 20px;
    margin-top: 5px;
}

.rosatom-input {
    width: 67%;
    min-width: 180px;
}

.rosatom-label {
    width: 31%;
    padding-right: 0;
}

.registration .checkbox-text {
    font-family: 'Arial Обычный', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #333333;
    line-height: normal;
}

.registration .reg-btn {
    width: 48%;
    margin: 5px auto;
    display: block;
}

.registration .create {
    margin-left: 0;
}

.registration .cancel {
    margin-right: 0;
}

.registration .input-check {
    align-self: center;
    margin: 0 5px 0 0;
    min-width: 16px;
}

.registration ::placeholder {
    font-weight: 300;
}

.registration .header {
    width: 100%;
    text-align: end;
    color: #212121;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: Roboto, "Trebuchet MS", Arial, Helvetica, sans-serif
}

.registration .login {
    text-transform: lowercase;
}

.line-btn, .line {
    padding: 10px 0;
    display: flex;
    font-family: 'PT Sans Bold Italic', 'PT Sans';
    font-weight: 700;
    font-style: italic;
    color: #01559E;
}

@media (max-width: 417px) {
    .rosatom-input {
        width: 100%;
    }
    .rosatom-label {
        width: 100%;
        text-align: start;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .registration .header {
        width: 100%;
        text-align: start;
    }
    .line, .line-btn {
        margin-left: 0;
        padding-left: 0;
        width: 100%;
    }
}

@media (max-width: 390px) {
    .line-btn {
        width: 100%;
        display: block;
    }
    .registration .reg-btn {
        width: 100%;
    }

}

.container-reg {
    margin-top: 10px;
}
