.preview-open-question .answer-button {
    cursor: default;
    height: 3em;
    width: 13em;
    margin: 1em auto 0;
}

.preview-open-question input {
    width: 80%;
    min-width: 13em;
    margin-right: 5px;
    height: 48px;
    padding-left: 5px;
    border: 1px solid #cbe1f1;
    outline: 0;
    outline-offset: 0;
    font-size: 16pt;
    padding: 0.3em;
    cursor: default;
}

.preview-open-question .answer-button:focus, input:focus {
    outline: none;
}

.preview-open-question .answer-button:hover {
    background-color: #01559E;
}

.preview-open-question .row {
    margin: 15px 0;
}

.preview-open-question .title-question {
    font-size: 18pt;
    margin: auto;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.preview-open-question .logo {
    background-image: url('../../../../../../assets/icons/icon-greenatom-label-h55.png');
    width: 55px;
    height: 55px;
    float: left;
    margin-top: -15px;
}

.preview-open-question {
    height: 80vh;
    overflow: auto;
}

.preview-open-question .content {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    align-self: flex-start;
}
