.alert-at-top {
    padding: 10px;
    z-index: 900;
    position: absolute;
    width: 100%;
}

.logo {
    background-image: url('../../assets/icons/icon-greenatom-label-h55.png');
    width: 55px;
    height: 55px;
    margin: 5pt;
}

.message {
    text-align: center;
    font-size: 15pt;
    min-height: 100%;
    min-width: 100%;
    display: inline-grid;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

