<ng-template #template>
    <app-dialog>
        <ng-container header>Редактирование ответа</ng-container>

        <ng-container content>
            <div class="form-group">
                <input type="text"
                       maxlength="150"
                       class="form-control"
                       [pattern]="surveyService.nameValidationRegex.source"
                       placeholder="Укажите ответ"
                       [(ngModel)]="label"
                       #labelModel="ngModel"
                       required>
            </div>
        </ng-container>

        <ng-container footer>
            <button class="rosatom-btn"
                    type="button"
                    (click)="ok()"
                    [disabled]="labelModel.invalid">Сохранить
            </button>
            <button class="rosatom-btn"
                    type="button"
                    (click)="close()">Отмена
            </button>
        </ng-container>
    </app-dialog>
</ng-template>


<button class="choices-icon-panel fa fa-pencil-square-o socs-icon edit-survey-icon"
      title="Редактировать ответ"
      [disabled]="!item"
      (click)="open(template)"></button>
