@import "mixins";

.chart-container {
    position: relative;
    height: 100%;
    float: left;

    width: 100%;
    padding: 20px;

    .font-calc {
        position: absolute;
        left: 0;
        top: 0;
        visibility: hidden;
        font-size: 3vmin;
    }
}

.legend {
    position: relative;
    height: 100%;
    float: left;
    overflow-x: hidden;
    overflow-y: auto;

    width: 30%;

    @media (min-width: 1280px) and (min-height: 720px) {
        width: 24%;
    }
}

.legend_item {
    @include flex-row;
    width: 100%;
    margin-bottom: 5px;
}

.legend_item_color-box {
    @include flex-item(40px, 0, 0);
    margin-right: 5px;
}

.legend_item_label {
    @include flex-item();

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;

    line-height: 1.1;
    font-size: 12px;

    @media (min-width: 1024px) and (min-height: 768px) {
        line-height: 1.37;
        font-size: 16px;
    }

    @media (min-width: 1280px) and (min-height: 720px) {
        line-height: 1.2;
        font-size: 16px;
    }

    @media (min-width: 1920px) and (min-height: 1080px) {
        line-height: 1.4;
        font-size: 26px;
    }
}
